html
    head
        include head.pug
        script(src='/socket.io/socket.io.js')

    body
        h1(class='bg-primary text-white text-center p-1 m-0') Chat room with Socket.io
        div(class='d-flex h-75')
            section(class='bg-secondary container-fluid w-25')
                h2(class='title mt-3') channels
                nav
                    ul(id='channels')  
                        li general 
                        li gaming 
                        li random
            section(class='container-fluid')
                form(id='chat-form' class='d-flex mt-3')
                    input(id='message' class='form-control' name='message' type='text' placeholder='Enter your message here...')
                    input(type='submit' class='btn btn-primary ms-1' value='Send')   
                p(id='typing-notification', class='bg-secondary')
                div(id='message-list' class='d-flex flex-column')
            section(class='bg-info container-fluid w-25')
                h2(class='title mt-3') users
                ul(id='user-list')
    
    script(src='/scripts/client.js')
    script(src='/scripts/app.js')


            